main {
  display: grid;
  align-items: center;
  align-content: center;

  > .description {
    > p {
      margin-top: 0.5rem;
      line-height: 1.5;
    }
  }

  > .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.circle {
  position: fixed;
  top: 50%;
  right: -50%;
  transform: translateY(-50%);
  width: 120vmax;
  height: 120vmax;
  // background-color: var(--cs-app-500);
  background: linear-gradient(
    200deg,
    var(--p-yellow-500),
    var(--p-red-500),
    #a63dc6,
    var(--p-app-600),
    var(--p-blue-500)
  );
  filter: blur(120px) opacity(0.5);
  border-radius: 50%;
  z-index: -1;
}
