.main-content {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100dvh;
  padding: 2rem;

  > .description {
    > p {
      margin-top: 0.5rem;
      line-height: 1.5;
    }
  }

  > .links {
    display: flex;
    gap: 1rem;

    span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.circle {
  position: fixed;
  top: 50%;
  left: -50%;
  transform: translateX(50%) translateY(-50%);
  width: 120dvh;
  height: 120dvh;
  // background-color: var(--cs-app-500);
  background: linear-gradient(
    -45deg,
    var(--p-yellow-500),
    var(--p-red-500),
    var(--p-blue-500),
    var(--p-app-600),
    var(--p-green-500)
  );
  filter: blur(100px) opacity(0.3);
  border-radius: 50%;
  z-index: -1;
}
